                                                        /*Profile Picture*/
                                                    
                                                    #profile-pic {
                                                        /*Edit size and round corners*/
                                                        /*width: 30%;*/
                                                        width: 100%;
                                                        position: relative;
                                                    }
                                                    
                                                    .github-screenshots {
                                                        width: 80%;
                                                    }
                                                    /*About Me Paragraph*/
                                                    
                                                    .embedded-link {
                                                        color: #2C3E50;
                                                        font-weight: bold;
                                                        /*text-decoration: underline;*/
                                                    }
                                                    
                                                    .embedded-link:hover {
                                                        background: none;
                                                        color: #2C3E50;
                                                    }
                                                    
                                                    .embedded-link:active {
                                                        background: none;
                                                        color: #2C3E50;
                                                        ;
                                                    }
                                                    /*Portfolio*/
                                                    
                                                    .portfolio-item {
                                                        font-size: 150%;
                                                    }
                                                    /*Connect with Me Icons*/
                                                    
                                                    img.social {
                                                        padding-top: 5px;
                                                        padding-bottom: 5px;
                                                        height: 80px;
                                                    }
                                                    /*Porfolio*/
                                                    
                                                    #animalFill {
                                                        background-color: #ffe272;
                                                    }
                                                    
                                                    #hangmanFill {
                                                        background-color: #3b913a;
                                                    }
                                                    
                                                    #crystalFill {
                                                        background-color: white;
                                                    }
                                                    
                                                    #triviaFill {
                                                        background-color: #c43131;
                                                    }
                                                    
                                                    #trainFill {
                                                        background-color: #000066;
                                                    }
                                                    
                                                    #liriFill {
                                                        background-color: #2dbf82;
                                                    }
                                                    
                                                    #bamazonFill {
                                                        background-color: pink;
                                                    }
                                                    
                                                    #friendFill {
                                                        background-color: #e0e0e0;
                                                    }
                                                    
                                                    #burgerFill {
                                                        background-color: #ffe272;
                                                    }
                                                    
                                                    #newspaperFill {
                                                        /*background-color: #7c4335;*/
                                                        background-color: #2ba05c;
                                                    }
                                                    
                                                    #nytReactFill {
                                                        background-color: #0d9bc6;
                                                    }
                                                    
                                                    #giphyFill {
                                                        background-color: #c43131;
                                                    }
                                                    
                                                    #ccFill {
                                                        background-color: white;
                                                    }
                                                    
                                                    #incognitoFill {
                                                        background-color: #000066;
                                                    }
                                                    
                                                    #ggFill {
                                                        background-color: pink;